body{
    font-family: 'Righteous', cursive;
    text-align: center;
    background-image: url(../assets/back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin-top: 15vh;
    color: antiquewhite;
}

.piece{
    width: 100px;
    height: 100px;
    margin: 2px;
    background-color: rgb(161, 207, 88);
    border: 2px solid black;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
}

.piece:hover{
    background-color: rgb(63, 56, 56);

}

.apple{
    position: relative;
}

.apple:after{
    position: absolute;
    content: "\1F34E";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.droid{
    position: relative;
}

.droid:after{
    position: absolute;
    content: "\1F916";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

button{
    font-family: 'Righteous', sans-serif;
    margin-top: 20px;
    background-color: rgb(63, 56, 56);
    border-radius: 10px;
    padding: 10px;
    color: white;
}

button:hover{
    background-color: rgb(161, 207, 88);
    cursor: pointer;
}